{% extends "base.html" %}
{% load static %}

{% block head %}
    <meta name='csrf-token' content={{ csrf_token }}>
    <link rel="stylesheet" href="{% static "css/clean_blog.html" %}">
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}">
{% endblock head %}


{% block contents %}
<div class='container'>
    <div class='my-div-style'>
        <div>
            <h1>選択問題 ~ {{ learning_objective.title }} ~</h1>
            <p>
                <strong>"{{ topic }}"</strong>から選択問題を出題します。
            </p>
        </div>
        <!-- Chat -->
        <div id='chat-box'>
            <div>
                {{ question|linebreaksbr }}
            </div>
        </div>
        <form id='chat-form' action="">
            <input id='message-input' type="text">
            <div>
                <button type='submit' class='btn btn-primary'>送信</button>
                <button id='end-exam' type='button' class='btn btn-primary'>終了</button>
            </div>
        </form>
    </div>
</div>
<script src='{% static "js/exam_chat.js" %}'></script>
{% endblock contents %}