{% extends "base.html" %}
{% load static %}

{% block title %}学習目標削除|First App{% endblock title %}

{% block contents %}
<div>
    <div>
        <div>
            <h1 class='h-25'>学習目標の削除 <strong>~{{ object.category.name }}~</strong></h1>
            <h2>本当に<strong>"{{ object.title }}"</strong>を削除しますか？</h2>
            <p>削除すると、"{{ object.title }}"の学習記録も削除されます。</p>
        </div>
        <form action="" method='POST'>
            {% csrf_token %}

            <button class='btn btn-danger'>削除</button>
            <a href="{% url 'task_manager:learning_objective_list'  %}">キャンセル</a>
        </form>
    </div>
</div>
{% endblock contents %}
