body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top: 6rem;
}

#chat-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px; 
}
